html {
}

body {
}

:root {
    --bg-color: #1a1a1a;
    --bg-color-transparent: #1a1a1a80;
    --bg-grey-color: #2e2e2e;
    --bg-grey-color-transparent: #2e2e2e10;
    --text-color: white;
    --text-grey-color: #a5a5a5;
    --text-other-grey-color: #4a4a4a;
    --main-color: #e23a2b;
    background-color: var(--bg-color);
}

.App {
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.message-input-large-container {
    display: flex;
    align-items: center;

    position: sticky;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;

    padding: 10px;
    margin-top: 10px;

    background: var(--bg-color);
    border-top: var(--bg-grey-color) 1px solid;
}

.message-input-container {
    display: flex;
    align-items: center;
    background: var(--bg-grey-color);
    border-radius: 35px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 15px;
    flex: 1;

    transition: all 200ms ease;
}

.message-input-container input {
    min-width: 50px;
    flex: 1;
    outline: 0px;
    border: 0px;
    background: transparent;
    color: var(--text-color);
    font-size: 1.2rem;
    font-family: sans-serif, "Noto Color Emoji";
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.message-actual-input-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    padding: 5px;
    padding-left: 0px;
}

.reply-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 10px; */
    background-color: var(--text-other-grey-color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-left: var(--main-color) 5px solid;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.reply-message p {
    margin: 0px;
    text-align: left;
}

.reply-message > div {
    display: flex;
    margin-bottom: auto;
    margin-top: auto;
    align-items: center;
}

.reply-message ion-icon {
    font-size: 1.2rem;
    margin-left: 10px;
    padding: 0.1rem;
    border-radius: 0.3rem;

    transition: all 200ms ease;
}

.reply-message ion-icon:hover {
    cursor: pointer;
    background-color: var(--bg-grey-color);
}

.message-container.me .reply-message {
    border-left: var(--text-grey-color) 5px solid;
    background-color: var(--bg-grey-color);
}

.message-container .reply-message {
    margin-bottom: 5px;
}

/* .message-container:has(.reply-message)  */

.reply-message div {
    color: var(--text-grey-color);
    align-self: flex-end;
    margin-left: 10px;
}

.message-input-large-container .button:hover {
    cursor: pointer;
}

.message-input-large-container .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.75rem;
    color: var(--text-grey-color);
    padding: 5px;
    padding-left: 10px;
}

.message-input-large-container .send-button {
    padding-left: 10px;

    color: var(--main-color);
}

@keyframes sendButtonAnimation {
    0% {
        transform: rotate(0deg) translate(0px, 0px) scale(1);
    }
    12% {
        transform: translate(11px, -5px) rotate(-15deg) scale(0.5);
    }
    25% {
        transform: translate(15px, -13px) rotate(-90deg) scale(0.6);
    }
    50% {
        transform: translate(13px, -16px) rotate(-135deg) scale(0.65);
    }
    62% {
        transform: translate(0px, -17px) rotate(-185deg) scale(0.7);
    }
    75% {
        transform: translate(-7px, -8px) rotate(-270deg) scale(0.75);
    }
    94% {
        transform: translate(-1px, 3px) rotate(-375deg) scale(0.9);
    }
    100% {
        transform: translate(-0px, -0px) rotate(-360deg) scale(1);
    }
}

.send-button-animation {
    animation: sendButtonAnimation 500ms cubic-bezier(0.61, 0.565, 0.625, 1.31)
        0s;
}

.emoji-button {
    width: 1.75rem;
    height: 1.75rem;

    transition: all 200ms ease;
}

.emoji-button .emoji {
    font-size: 1.5rem;
    padding: 0px;
    margin: 0px;
}

.message-input-large-container .button:has(+ .send-button) {
    padding-right: 10px;
    border-right: var(--text-other-grey-color) 1px solid;
}

.message-input-large-container .send-button:first-child {
    margin: auto;
}

.messages-container {
    display: flex;
    flex-direction: column;
}

.messages-large-container {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@keyframes messageAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    position: relative;

    background-color: var(--bg-grey-color);
    border-radius: calc(1em + 5px);

    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;

    width: fit-content;
    /* min-width: 5em; */
    max-width: 70%;

    opacity: 0;
    transform: translateY(15px) scale(0);
    transition: all 200ms cubic-bezier(0.08, 0.02, 0.105, 1.315);
}

.message-container.other + .message-container.other {
    margin-top: 0px;
}

.message-container.me + .message-container.me {
    margin-top: 0px;
}

.message-container.other + .message-container.other {
    border-top-left-radius: 5px;
}

.message-container.other:has(+ .message-container.other) {
    border-bottom-left-radius: 5px;
}

.message-container.me + .message-container.me {
    border-top-right-radius: 5px;
}

.message-container.me:has(+ .message-container.me) {
    border-bottom-right-radius: 5px;
}

.message-container.me {
    align-self: flex-end;
    background-color: var(--main-color);
}

.message-container > div {
    margin: 0px;
    /* padding: 0px; */
}

.message-container .message-time {
    text-align: right;
    align-self: flex-end;

    margin-top: 5px;
    margin-left: 10px;
    padding-right: 5px;

    transform: translate(0rem, 0px);
    color: var(--text-grey-color);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.message-container .reply-icon {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -25px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 200ms ease;
    opacity: 0;
}

.message-container.me .message-time {
    color: var(--bg-color);
}

.message-text {
    font-family: sans-serif, "Noto Color Emoji";
    font-weight: 400;
    font-style: normal;

    padding-left: 5px;
    padding-right: 5px;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.message-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--bg-color);
    border-bottom: var(--bg-grey-color) 1px solid;
    padding-left: 15px;
}

.message-header p {
    font-size: 1.5rem;
    margin: 0px;
}

.message-pfp {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/pfp-default.png);
}

.message-filler-container {
    height: calc(100vh - 9rem);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.message-filler-container .message-pfp {
    width: 10rem;
    height: 10rem;
    margin-top: 25px;
}

.message-filler-container .message-name-filler {
    font-size: 3rem;
}

.message-filler-container .message-actual-name-filler {
    font-size: 2rem;
    color: var(--text-grey-color);
}

.message-scroll-indicator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 1rem;
    font-size: 1.7rem;
    color: var(--text-grey-color);
}

.message-scroll-indicator :first-child {
    /* margin-top: 0.5rem; */
    margin-right: 0.5rem;
}

#emojis-list-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color-transparent);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.emojis-list {
    background-color: #ffffff10;
    border-radius: 10px;
    backdrop-filter: blur(25px);
    overflow: scroll;
    height: 80%;
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
}

.emojis-category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    font-size: 2rem;
    font-family: "Noto Color Emoji", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.emojis-category li {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;

    transition: all 200ms ease;
}

.emojis-category li:hover {
    cursor: pointer;
    background-color: #ffffff10;
}

.emoji {
    font-family: "Noto Color Emoji", sans-serif;
    font-weight: 400;
    font-style: normal;
}
