html {
}

body {
}

:root {
    --bg-color: #1a1a1a;
    --bg-color-transparent: #1a1a1a80;
    --bg-grey-color: #2e2e2e;
    --bg-grey-color-transparent: #2e2e2e10;
    --text-color: white;
    --text-grey-color: #a5a5a5;
    --text-other-grey-color: #4a4a4a;
    --main-color: #e23a2b;
    --main-color-transparent: #e23a2b80;
    background-color: var(--bg-color);
}

.App {
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color);
}
